@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";


:root {
    --primary-black: #1C1C1C;
    --secondary-gray: #505050;
    --secondary-light-gray: #606060;
    --light-gray-border: #DEE2E7;
    --text-light-gray: #8B96A5;
}

@layer components {

    body {
        font-family: "Inter", sans-serif;
    }

    .primary-black {
        color: var(--primary-black);
    }

    .secondary-gray {
        color: var(--secondary-gray);
    }

    .secondary-light-gray {
        color: var(--secondary-light-gray);
    }

    .light-gray-border {
        border-color: var(--light-gray-border);
    }

    .text-light-gray {
        color: var(--text-light-gray);
    }

    .grid-temp-col {
        grid-template-columns: minmax(250px, 320px) auto minmax(200px, 250px);
    }

    button {
        cursor: pointer;
    }

    .bg-img-overlay {
        /* background-color: linear-gradient(90deg,rgba(44, 124, 241, 1) 0%, rgba(0, 209, 255, 1) 50%);; */
        /* background-color: orange; */
        background-image: url(/img/form-bg.svg);
    }

    .overlay {
        opacity: 0.9;
        background: #2C7CF1;
        background: linear-gradient(90deg, rgba(44, 124, 241, 1) 28%, rgba(0, 209, 255, 1) 50%);
        position: absolute;
        border-radius: 6px;
        top: 0%;
        left: 0%;
        width: 100%;
        height: 100%;
    }

    .star-filled-filter {
        filter: brightness(0) saturate(100%) invert(73%) sepia(43%) saturate(4537%) hue-rotate(346deg) brightness(100%) contrast(105%);
    }

    .star-grey-filter {
        filter: brightness(0) saturate(100%) invert(64%) sepia(11%) saturate(0%) hue-rotate(133deg) brightness(96%) contrast(83%);
    }

    .grey-icon-filter {
        filter: brightness(0) saturate(100%) invert(27%) sepia(0%) saturate(1%) hue-rotate(206deg) brightness(103%) contrast(86%);
    }

    .light-grey-icon-filter {
        filter: brightness(0) saturate(100%) invert(64%) sepia(12%) saturate(393%) hue-rotate(175deg) brightness(90%) contrast(89%);
    }

    .green-icon-filter {
        filter: brightness(0) saturate(100%) invert(44%) sepia(72%) saturate(2519%) hue-rotate(100deg) brightness(97%) contrast(104%);
    }

    .dark-grey-icon-filter {
        filter: brightness(0) saturate(100%) invert(65%) sepia(15%) saturate(328%) hue-rotate(175deg) brightness(89%) contrast(85%);
    }

    .open {
        display: block;
    }

    .hidden-ul {
        display: none;
    }

    .btn-gradient {
        background: linear-gradient(180deg, #127FFF 0%, #0067FF 100%);
    }

    /* .btn-gradient { */
    /* background: #127FFF; */
    /* background-color: linear-gradient(180deg, rgba(18, 127, 255, 1) 36%, rgba(0, 103, 255, 1) 73%); */
    /* } */

    .gradient-bg {
        background: #237CFF;
        background: linear-gradient(60deg, rgba(35, 124, 255, 1) 61%, rgba(0, 90, 222, 1) 61%);
    }

    @keyframes arrow-rotate {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(180deg);
        }
    }

    .chevron-icon {
        animation: arrow-rotate 2s;
    }

    .heading-1 {
        font-size: clamp(1.25rem, 0.9741rem + 1.3793vw, 1.75rem);
    }

    .heading-2 {
        font-size: clamp(1.375rem, 1.0302rem + 1.7241vw, 2rem);
    }

    .form-text {
        font-size: clamp(1.5625rem, 1.3211rem + 1.2069vw, 2rem);

    }

    .heading-20px {
        font-size: clamp(1rem, 0.8621rem + 0.6897vw, 1.25rem);
    }

    .p-18px {
        font-size: clamp(1rem, 0.931rem + 0.3448vw, 1.125rem);
    }

    .p-16px {
        font-size: clamp(0.75rem, 0.6121rem + 0.6897vw, 1rem);
    }

    .content {
        display: none;
    }

    .btn-active {
        color: #1c1c1c;
    }

    .content-active {
        display: block;
    }

    .layout-btn.active {
        background-color: #EFF2F4;
    }

    .tab-btn {
        position: relative;
        padding: 0px 15px;
        cursor: pointer;
        font-size: 16px;
        transition: color 0.3s ease;
    }

    .tab-btn.btn-active::after {
        content: '';
        position: absolute;
        bottom: -8px;
        left: 0%;
        /* transform: translateX(-50%) scaleX(0); */
        width: 100%;
        /* wider than text */
        height: 3px;
        background-color: #007bff;
        /* transition: transform 0.3s ease; */
        /* transform-origin: center; */
        border-radius: 2px;
    }

    .tab-btn.btn-active::after {
        /* transform: translateX(-50%) scale(1); */

    }

    .show {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 70%;
        height: 100vh;
        background-color: rgb(241, 249, 255);
        z-index: 1000;
    }


    .custom-select {
        min-width: fit-content;
        background-color: transparent;
        z-index: 1;
    }

    .custom-select select {
        appearance: none;
        width: 100%;
        padding: 0px 20px 0px 0px;
        background-color: transparent;
        color: #000;
        cursor: pointer;
    }
}